Load the Libraries

In [1]:
# importing libraries
import pandas as pd
import numpy as np

Load the DataSet

In [2]:
# reading ratings file:
colms=['user_id', 'movie_id', 'rating', 'unix_timestamp']
dataset=pd.read_csv('ml-100k/u.data',sep='\t', names= colms,encoding='latin-1')
dataset

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

In [3]:
n_users=dataset.user_id.unique().shape[0]
n_items=dataset.movie_id.unique().shape[0]

In [4]:
print("The number of user:",n_users)
print("The number of n_items:",n_items)

The number of user: 943
The number of n_items: 1682

Create pivot table for user and movie based on ratings

In [5]:
datama=dataset.pivot_table(index='user_id',columns='movie_id',values='rating')
datama

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,2.0,NaN,NaN,4.0,5.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Replace with nan with 0
data_matrix=datama.replace(np.nan,0)
data_matrix

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Find Cosine Similatity for user and Item

In [7]:
from sklearn.metrics.pairwise import pairwise_distances
user_similarity=pairwise_distances(data_matrix, metric='cosine')
item_similarity=pairwise_distances(data_matrix.T, metric='cosine')

In [8]:
user_similarity

array([[1.33226763e-15, 8.33069016e-01, 9.52540457e-01, ...,
        8.51383057e-01, 8.20492117e-01, 6.01825261e-01],
       [8.33069016e-01, 1.11022302e-16, 8.89408675e-01, ...,
        8.38515222e-01, 8.27732187e-01, 8.94202122e-01],
       [9.52540457e-01, 8.89408675e-01, 0.00000000e+00, ...,
        8.98757435e-01, 8.66583851e-01, 9.73444131e-01],
       ...,
       [8.51383057e-01, 8.38515222e-01, 8.98757435e-01, ...,
        1.11022302e-16, 8.98358201e-01, 9.04880419e-01],
       [8.20492117e-01, 8.27732187e-01, 8.66583851e-01, ...,
        8.98358201e-01, 0.00000000e+00, 8.17535338e-01],
       [6.01825261e-01, 8.94202122e-01, 9.73444131e-01, ...,
        9.04880419e-01, 8.17535338e-01, 0.00000000e+00]])

Using formula for user and item we are calcuating the score value

In [9]:
def predict(rating, similarity, type='user'):
    if type=='user':
        mean_user_rating=rating.mean(axis=1)
        mean_user_rating=np.array(mean_user_rating)
        #We use np.newaxis so that mean_user_rating has same format as ratings
        rating_diff=(rating-mean_user_rating[:, np.newaxis])
        pred= mean_user_rating[:, np.newaxis]+similarity.dot(rating_diff)/np.array([np.abs(similarity).sum(axis=1)]).T
    elif type=='item':
        pred=similarity.dot(rating_diff)/np.array([np.abs(similarity).sum(axis=1)])
    return pred

In [10]:
user_prediction=predict(data_matrix, user_similarity, type='user')
user_prediction

array([[ 2.06532606,  0.73430275,  0.62992381, ...,  0.39359041,
         0.39304874,  0.3927712 ],
       [ 1.76308836,  0.38404019,  0.19617889, ..., -0.08837789,
        -0.0869183 , -0.08671183],
       [ 1.79590398,  0.32904733,  0.15882885, ..., -0.13699223,
        -0.13496852, -0.13476488],
       ...,
       [ 1.59151513,  0.27526889,  0.10219534, ..., -0.16735162,
        -0.16657451, -0.16641377],
       [ 1.81036267,  0.40479877,  0.27545013, ..., -0.00907358,
        -0.00846587, -0.00804858],
       [ 1.8384313 ,  0.47964837,  0.38496292, ...,  0.14686675,
         0.14629808,  0.14641455]])

As per User based filtering ,first have to find similarity between the input user and others

In [11]:
#1. Select input user

input_user= 45

In [12]:
#2. Convert the user_sim table into DataFrame

user_simi_table=pd.DataFrame(user_similarity)
user_simi_table

,0,1,2,3,4,5,6,7,8,9,...,933,934,935,936,937,938,939,940,941,942
0,1.332268e-15,8.330690e-01,0.952540,9.356422e-01,0.621525,0.569761,0.559633,0.680928,0.921862,0.623456,...,0.630473,0.880518,0.725124,0.810295,0.802674,0.881905,0.685928,8.513831e-01,0.820492,0.601825
1,8.330690e-01,1.110223e-16,0.889409,8.218788e-01,0.927021,0.754157,0.892672,0.896656,0.838952,0.840138,...,0.843014,0.692058,0.641211,0.575954,0.680111,0.771417,0.773210,8.385152e-01,0.827732,0.894202
2,9.525405e-01,8.894087e-01,0.000000,6.558493e-01,0.978755,0.927585,0.933863,0.916940,0.938960,0.934849,...,0.968125,0.957247,0.836171,0.930962,0.875755,0.973729,0.838110,8.987574e-01,0.866584,0.973444
3,9.356422e-01,8.218788e-01,0.655849,1.110223e-16,0.968196,0.931956,0.908770,0.811940,0.898716,0.939141,...,0.947893,0.963216,0.866885,0.806529,0.853942,0.969862,0.803142,8.479591e-01,0.829914,0.941248
4,6.215248e-01,9.270210e-01,0.978755,9.681958e-01,0.000000,0.762714,0.626400,0.751070,0.943153,0.798573,...,0.661206,0.919420,0.905076,0.920221,0.851393,0.928541,0.760045,8.604049e-01,0.847503,0.686059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,8.819047e-01,7.714166e-01,0.973729,9.698622e-01,0.928541,0.888148,0.892973,0.904102,0.960148,0.928540,...,0.933961,0.568846,0.741979,0.773551,0.567334,0.000000,0.912313,8.199707e-01,0.956736,0.855750
939,6.859280e-01,7.732100e-01,0.838110,8.031418e-01,0.760045,0.647551,0.670075,0.753117,0.879505,0.657039,...,0.672847,0.892976,0.812464,0.818683,0.824842,0.912313,0.000000,8.548477e-01,0.738624,0.758972
940,8.513831e-01,8.385152e-01,0.898757,8.479591e-01,0.860405,0.855554,0.940007,0.853855,0.856755,0.909695,...,0.953048,0.796699,0.711682,0.765789,0.686600,0.819971,0.854848,1.110223e-16,0.898358,0.904880
941,8.204921e-01,8.277322e-01,0.866584,8.299139e-01,0.847503,0.682672,0.717997,0.824678,0.907503,0.787670,...,0.773560,0.926487,0.910412,0.870446,0.900615,0.956736,0.738624,8.983582e-01,0.000000,0.817535
942,6.018253e-01,8.942021e-01,0.973444,9.412479e-01,0.686059,0.723958,0.605636,0.700191,0.924383,0.778140,...,0.736209,0.789237,0.856747,0.922207,0.797756,0.855750,0.758972,9.048804e-01,0.817535,0.000000

In [13]:
#3. Find similarity user for 45 using cosine table

similar_input_user=user_simi_table[input_user].sort_values(ascending=True).head(5).index
similar_input_user

Index([45, 430, 807, 734, 862], dtype='int64')

In [14]:
#4.Convert in to list

similar_input_user=list(similar_input_user)

In [15]:
#5. Using similar_user_input,can select movie id from ratings table

similar_user_movieid_list=[]
for simi in similar_input_user:
    sim=list(dataset[dataset['user_id']==simi]['movie_id'])
    similar_user_movieid_list.append(sim)

In [16]:
len(similar_user_movieid_list)

5

In [17]:
print(similar_user_movieid_list)

[[25, 109, 118, 763, 473, 472, 127, 121, 1061, 476, 276, 15, 100, 237, 952, 1, 21, 1060, 108, 823, 225, 762, 934, 820, 756, 50, 596, 411, 13, 288, 597, 257, 1059, 282, 1001, 7, 151, 926, 111, 278, 742, 284, 845, 181, 24, 826, 764, 993], [10, 527, 656, 129, 253, 237, 547, 234, 744, 436, 9, 273, 288, 1347, 293, 302, 264, 221, 286, 12, 98, 117, 164, 100, 1240, 628, 124, 514, 222, 56, 1007, 50, 515, 294, 165, 328, 181, 462, 276, 318, 248, 258, 42, 674, 19, 137, 152, 101, 300, 528, 148, 121, 235, 1375, 748, 523, 168, 123, 151, 303, 298, 297, 64, 127, 7], [399, 419, 117, 385, 465, 471, 250, 239, 636, 1444, 1050, 99, 842, 271, 528, 193, 427, 576, 405, 527, 1034, 151, 498, 622, 420, 143, 584, 1, 946, 265, 1091, 177, 450, 705, 495, 612, 22, 1483, 1138, 679, 127, 501, 358, 630, 252, 1615, 751, 71, 384, 1063, 505, 633, 380, 485, 678, 73, 374, 140, 101, 231, 404, 62, 451, 657, 415, 739, 21, 820, 210, 8, 684, 173, 121, 554, 511, 1089, 29, 435, 235, 597, 313, 418, 969, 161, 624, 63, 96, 968, 174, 416, 526, 133, 381, 1133, 257, 477, 491, 199, 605, 1411, 1413, 194, 79, 94, 227, 195, 234, 610, 627, 141, 135, 566, 181, 699, 550, 82, 570, 211, 546, 154, 1084, 254, 473, 541, 1066, 222, 172, 826, 588, 386, 1039, 520, 831, 28, 470, 402, 206, 542, 136, 298, 1078, 503, 142, 102, 1409, 68, 89, 523, 132, 373, 144, 428, 205, 422, 300, 843, 168, 432, 403, 930, 757, 229, 421, 720, 398, 510, 208, 659, 515, 50, 393, 484, 998, 543, 1274, 318, 449, 95, 748, 417, 602, 118, 408, 186, 472, 743, 578, 230, 625, 1076, 228, 1016, 596, 139, 496, 91, 258, 2, 431, 69, 483, 289, 423, 204], [82, 204, 99, 419, 98, 166, 607, 591, 198, 174, 662, 143, 210, 751, 172, 482, 699, 222, 111, 56, 604, 83, 582, 423, 165, 318, 132, 193, 191, 213, 275, 742, 97, 487, 603, 173, 478, 313, 496, 479, 15, 274, 28, 144, 465, 724, 288, 483, 485, 202, 605, 95, 283, 22, 282, 162, 164, 821, 705, 121, 230, 498, 50, 294], [50, 407, 210, 505, 127, 357, 288, 215, 193, 168, 1011, 974, 405, 474, 187, 214, 198, 526, 216, 181, 230, 147, 1093, 491, 64, 478, 22, 433, 429, 121, 276, 11, 184, 479, 175, 111, 199, 413, 24, 978, 603, 201, 919, 737, 820, 657, 183, 203, 484, 1117, 117, 982, 179, 1110, 105, 141, 480, 1199, 431, 56, 742, 60, 79, 228, 597, 173, 462, 100, 831, 977, 416, 928, 271, 172, 182, 143, 434, 70, 476, 436, 200, 423, 519, 521, 96, 647, 238, 825, 520, 10, 650, 186, 59, 496, 174, 97, 515, 282, 655, 472, 81, 767, 544, 211, 845, 568, 823, 222, 257, 180, 260, 195, 7, 99, 930, 188, 250, 61, 640, 135, 89, 467, 98, 498, 1009, 559, 678, 483, 196, 546, 979, 633, 969, 132, 185, 1050, 45, 495, 789, 566, 435, 82, 658, 69, 252, 258, 197, 151, 406, 176, 651, 432, 91, 265, 202, 92, 1109, 748, 866, 12, 177, 208, 485, 205, 120]]

In [18]:
#6. Convert all the movieid list as single

import itertools
similar_user_movieid_single_list=list(itertools.chain.from_iterable(similar_user_movieid_list))
len(similar_user_movieid_single_list)

546

In [19]:
#7. Unique movieid from the list

unique_movieid_similar_user=set(similar_user_movieid_single_list)
len(unique_movieid_similar_user)

371

In [20]:
#8. Input user watched movie_list

input_user_watched_movieid=list(dataset[dataset['user_id']==input_user]['movie_id'].values)
len(input_user_watched_movieid)

48

In [21]:
#9. Create a list which should have recom movieid to the input user

recom=[]
for id in unique_movieid_similar_user:
    if (id in input_user_watched_movieid):
        pass
    else:
        recom.append(id)

In [22]:
len(recom)

323

In [23]:
sorted(recom)

[2,
 8,
 9,
 10,
 11,
 12,
 19,
 22,
 28,
 29,
 42,
 45,
 56,
 59,
 60,
 61,
 62,
 63,
 64,
 68,
 69,
 70,
 71,
 73,
 79,
 81,
 82,
 83,
 89,
 91,
 92,
 94,
 95,
 96,
 97,
 98,
 99,
 101,
 102,
 105,
 117,
 120,
 123,
 124,
 129,
 132,
 133,
 135,
 136,
 137,
 139,
 140,
 141,
 142,
 143,
 144,
 147,
 148,
 152,
 154,
 161,
 162,
 164,
 165,
 166,
 168,
 172,
 173,
 174,
 175,
 176,
 177,
 179,
 180,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 191,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 208,
 210,
 211,
 213,
 214,
 215,
 216,
 221,
 222,
 227,
 228,
 229,
 230,
 231,
 234,
 235,
 238,
 239,
 248,
 250,
 252,
 253,
 254,
 258,
 260,
 264,
 265,
 271,
 273,
 274,
 275,
 283,
 286,
 289,
 293,
 294,
 297,
 298,
 300,
 302,
 303,
 313,
 318,
 328,
 357,
 358,
 373,
 374,
 380,
 381,
 384,
 385,
 386,
 393,
 398,
 399,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 413,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 427,
 428,
 429,
 431,
 432,
 433,
 434,
 435,
 436,
 449,
 450,
 451,
 462,
 465,
 467,
 470,
 471,
 474,
 477,
 478,
 479,
 480,
 482,
 483,
 484,
 485,
 487,
 491,
 495,
 496,
 498,
 501,
 503,
 505,
 510,
 511,
 514,
 515,
 519,
 520,
 521,
 523,
 526,
 527,
 528,
 541,
 542,
 543,
 544,
 546,
 547,
 550,
 554,
 559,
 566,
 568,
 570,
 576,
 578,
 582,
 584,
 588,
 591,
 602,
 603,
 604,
 605,
 607,
 610,
 612,
 622,
 624,
 625,
 627,
 628,
 630,
 633,
 636,
 640,
 647,
 650,
 651,
 655,
 656,
 657,
 658,
 659,
 662,
 674,
 678,
 679,
 684,
 699,
 705,
 720,
 724,
 737,
 739,
 743,
 744,
 748,
 751,
 757,
 767,
 789,
 821,
 825,
 831,
 842,
 843,
 866,
 919,
 928,
 930,
 946,
 968,
 969,
 974,
 977,
 978,
 979,
 982,
 998,
 1007,
 1009,
 1011,
 1016,
 1034,
 1039,
 1050,
 1063,
 1066,
 1076,
 1078,
 1084,
 1089,
 1091,
 1093,
 1109,
 1110,
 1117,
 1133,
 1138,
 1199,
 1240,
 1274,
 1347,
 1375,
 1409,
 1411,
 1413,
 1444,
 1483,
 1615]

In [24]:
# Cross Checking 
sorted(unique_movieid_similar_user)

[1,
 2,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 15,
 19,
 21,
 22,
 24,
 25,
 28,
 29,
 42,
 45,
 50,
 56,
 59,
 60,
 61,
 62,
 63,
 64,
 68,
 69,
 70,
 71,
 73,
 79,
 81,
 82,
 83,
 89,
 91,
 92,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 105,
 108,
 109,
 111,
 117,
 118,
 120,
 121,
 123,
 124,
 127,
 129,
 132,
 133,
 135,
 136,
 137,
 139,
 140,
 141,
 142,
 143,
 144,
 147,
 148,
 151,
 152,
 154,
 161,
 162,
 164,
 165,
 166,
 168,
 172,
 173,
 174,
 175,
 176,
 177,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 191,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 208,
 210,
 211,
 213,
 214,
 215,
 216,
 221,
 222,
 225,
 227,
 228,
 229,
 230,
 231,
 234,
 235,
 237,
 238,
 239,
 248,
 250,
 252,
 253,
 254,
 257,
 258,
 260,
 264,
 265,
 271,
 273,
 274,
 275,
 276,
 278,
 282,
 283,
 284,
 286,
 288,
 289,
 293,
 294,
 297,
 298,
 300,
 302,
 303,
 313,
 318,
 328,
 357,
 358,
 373,
 374,
 380,
 381,
 384,
 385,
 386,
 393,
 398,
 399,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 411,
 413,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 427,
 428,
 429,
 431,
 432,
 433,
 434,
 435,
 436,
 449,
 450,
 451,
 462,
 465,
 467,
 470,
 471,
 472,
 473,
 474,
 476,
 477,
 478,
 479,
 480,
 482,
 483,
 484,
 485,
 487,
 491,
 495,
 496,
 498,
 501,
 503,
 505,
 510,
 511,
 514,
 515,
 519,
 520,
 521,
 523,
 526,
 527,
 528,
 541,
 542,
 543,
 544,
 546,
 547,
 550,
 554,
 559,
 566,
 568,
 570,
 576,
 578,
 582,
 584,
 588,
 591,
 596,
 597,
 602,
 603,
 604,
 605,
 607,
 610,
 612,
 622,
 624,
 625,
 627,
 628,
 630,
 633,
 636,
 640,
 647,
 650,
 651,
 655,
 656,
 657,
 658,
 659,
 662,
 674,
 678,
 679,
 684,
 699,
 705,
 720,
 724,
 737,
 739,
 742,
 743,
 744,
 748,
 751,
 756,
 757,
 762,
 763,
 764,
 767,
 789,
 820,
 821,
 823,
 825,
 826,
 831,
 842,
 843,
 845,
 866,
 919,
 926,
 928,
 930,
 934,
 946,
 952,
 968,
 969,
 974,
 977,
 978,
 979,
 982,
 993,
 998,
 1001,
 1007,
 1009,
 1011,
 1016,
 1034,
 1039,
 1050,
 1059,
 1060,
 1061,
 1063,
 1066,
 1076,
 1078,
 1084,
 1089,
 1091,
 1093,
 1109,
 1110,
 1117,
 1133,
 1138,
 1199,
 1240,
 1274,
 1347,
 1375,
 1409,
 1411,
 1413,
 1444,
 1483,
 1615]

In [25]:
# Checking the common movie list

list(set(unique_movieid_similar_user)&set(input_user_watched_movieid))

[1,
 257,
 7,
 13,
 15,
 276,
 21,
 278,
 151,
 24,
 25,
 282,
 411,
 284,
 926,
 288,
 1059,
 1060,
 1061,
 934,
 50,
 820,
 181,
 823,
 952,
 826,
 845,
 596,
 597,
 472,
 473,
 476,
 225,
 993,
 100,
 742,
 1001,
 108,
 109,
 237,
 111,
 756,
 118,
 121,
 762,
 763,
 764,
 127]

In [26]:
user_pred=pd.DataFrame(user_prediction)
user_pred

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,2.065326,0.734303,0.629924,1.010669,0.640686,0.476150,1.784569,1.163032,1.513350,0.704478,...,0.394041,0.394434,0.393981,0.392972,0.393344,0.392272,0.394909,0.393590,0.393049,0.392771
1,1.763088,0.384040,0.196179,0.731538,0.225643,0.003892,1.493597,0.876153,1.108467,0.261991,...,-0.086942,-0.085491,-0.087137,-0.088158,-0.087298,-0.089288,-0.087468,-0.088378,-0.086918,-0.086712
2,1.795904,0.329047,0.158829,0.684154,0.173277,-0.035621,1.488230,0.835769,1.135426,0.236383,...,-0.134795,-0.133537,-0.135543,-0.136438,-0.135041,-0.137611,-0.136374,-0.136992,-0.134969,-0.134765
3,1.729951,0.293913,0.127741,0.644932,0.142143,-0.062261,1.437010,0.796249,1.096663,0.211789,...,-0.161413,-0.160220,-0.161542,-0.162586,-0.161634,-0.163877,-0.162283,-0.163080,-0.161442,-0.161248
4,1.796651,0.454474,0.354422,0.763130,0.359539,0.195987,1.547370,0.908904,1.292027,0.437954,...,0.101762,0.102405,0.101923,0.100839,0.101711,0.099951,0.102515,0.101233,0.101075,0.101201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,1.676950,0.346339,0.177518,0.689906,0.199740,0.003297,1.429565,0.830905,1.070986,0.262183,...,-0.092434,-0.091197,-0.092851,-0.093801,-0.092953,-0.094539,-0.092217,-0.093378,-0.092686,-0.092423
939,1.822346,0.419125,0.286430,0.715605,0.294442,0.106633,1.514591,0.853050,1.195304,0.359260,...,0.014060,0.014688,0.014123,0.013060,0.013669,0.011978,0.014065,0.013021,0.013639,0.013796
940,1.591515,0.275269,0.102195,0.624383,0.133762,-0.069553,1.320734,0.765529,1.035088,0.192697,...,-0.166179,-0.164981,-0.166278,-0.167392,-0.166679,-0.168486,-0.166217,-0.167352,-0.166575,-0.166414
941,1.810363,0.404799,0.275450,0.726616,0.281316,0.087068,1.550310,0.850057,1.205745,0.342987,...,-0.008362,-0.007757,-0.008225,-0.009218,-0.008232,-0.010138,-0.008009,-0.009074,-0.008466,-0.008049
942,1.838431,0.479648,0.384963,0.780521,0.388442,0.240998,1.564232,0.946704,1.289865,0.487383,...,0.147027,0.148208,0.147193,0.146199,0.146916,0.145539,0.148194,0.146867,0.146298,0.146415

In [27]:
user_pred_trans=user_pred.T
user_pred_trans

,0,1,2,3,4,5,6,7,8,9,...,933,934,935,936,937,938,939,940,941,942
0,2.065326,1.763088,1.795904,1.729951,1.796651,1.996889,2.466055,1.693486,1.681165,2.021688,...,1.924844,1.619096,1.891812,1.696368,1.717658,1.676950,1.822346,1.591515,1.810363,1.838431
1,0.734303,0.384040,0.329047,0.293913,0.454474,0.651172,1.099186,0.296285,0.279528,0.650911,...,0.552456,0.311680,0.550513,0.322611,0.431368,0.346339,0.419125,0.275269,0.404799,0.479648
2,0.629924,0.196179,0.158829,0.127741,0.354422,0.528276,1.016489,0.195398,0.121887,0.530669,...,0.451194,0.140613,0.354913,0.144344,0.247851,0.177518,0.286430,0.102195,0.275450,0.384963
3,1.010669,0.731538,0.684154,0.644932,0.763130,0.921054,1.362861,0.612075,0.616094,0.916215,...,0.834176,0.661829,0.893214,0.662304,0.783208,0.689906,0.715605,0.624383,0.726616,0.780521
4,0.640686,0.225643,0.173277,0.142143,0.359539,0.537388,1.006458,0.198638,0.136368,0.531720,...,0.455212,0.166992,0.398759,0.167841,0.283796,0.199740,0.294442,0.133762,0.281316,0.388442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,0.392272,-0.089288,-0.137611,-0.163877,0.099951,0.259848,0.764340,-0.072866,-0.163505,0.263527,...,0.185602,-0.128949,0.095681,-0.143177,-0.009425,-0.094539,0.011978,-0.168486,-0.010138,0.145539
1678,0.394909,-0.087468,-0.136374,-0.162283,0.102515,0.262375,0.766967,-0.070435,-0.161425,0.266037,...,0.188059,-0.126624,0.097792,-0.141018,-0.007085,-0.092217,0.014065,-0.166217,-0.008009,0.148194
1679,0.393590,-0.088378,-0.136992,-0.163080,0.101233,0.261111,0.765654,-0.071651,-0.162465,0.264782,...,0.186831,-0.127786,0.096736,-0.142097,-0.008255,-0.093378,0.013021,-0.167352,-0.009074,0.146867
1680,0.393049,-0.086918,-0.134969,-0.161442,0.101075,0.261061,0.764983,-0.071744,-0.161396,0.264589,...,0.186850,-0.127045,0.097826,-0.140977,-0.007621,-0.092686,0.013639,-0.166575,-0.008466,0.146298
1681,0.392771,-0.086712,-0.134765,-0.161248,0.101201,0.261089,0.765165,-0.071357,-0.161430,0.264781,...,0.186858,-0.126812,0.097654,-0.140965,-0.007369,-0.092423,0.013796,-0.166414,-0.008049,0.146415

In [28]:
sept=user_pred_trans[45]
sept

0       1.723467
1       0.304257
2       0.130911
3       0.661185
4       0.150308
          ...
1677   -0.161598
1678   -0.160057
1679   -0.160827
1680   -0.159054
1681   -0.158921
Name: 45, Length: 1682, dtype: float64

In [29]:
s_data=pd.DataFrame(sept)
s_data

            45
0     1.723467
1     0.304257
2     0.130911
3     0.661185
4     0.150308
...        ...
1677 -0.161598
1678 -0.160057
1679 -0.160827
1680 -0.159054
1681 -0.158921

[1682 rows x 1 columns]

In [30]:
s=s_data.T
s

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
45,1.723467,0.304257,0.130911,0.661185,0.150308,-0.062349,1.416064,0.813218,1.082305,0.210308,...,-0.158919,-0.157666,-0.159312,-0.160331,-0.159121,-0.161598,-0.160057,-0.160827,-0.159054,-0.158921

In [31]:
s[154].values>=0.4

array([False])

In [32]:
# From recomd list select hightest rated film which would like by the user. Based on User prediction

highest_rated=[]
input_user_pre=pd.DataFrame(user_pred_trans[input_user])
input_user_pred=input_user_pre.T
for re in recom:
    value=input_user_pred[re].values
    if (value>=1):
        highest_rated.append(re)

In [33]:
len(highest_rated)

23

In [34]:
# Now we give movieid respective movie list

i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items=pd.read_csv('ml-100k/u.item', sep= '|', names=i_cols, encoding= 'latin-1')

In [35]:
#Creating Movie List based on recom movieid

movie_title=[]
for high_rate in highest_rated:
    movti=items[items['movie id']==high_rate]['movie title'].values
    movie_title.append(movti)

In [36]:
movie_title

[array(['Babe (1995)'], dtype=object),
 array(['Seven (Se7en) (1995)'], dtype=object),
 array(['Santa Clause, The (1994)'], dtype=object),
 array(['Crow, The (1994)'], dtype=object),
 array(['Aladdin (1992)'], dtype=object),
 array(['Dances with Wolves (1990)'], dtype=object),
 array(['Snow White and the Seven Dwarfs (1937)'], dtype=object),
 array(['Striptease (1996)'], dtype=object),
 array(['Empire Strikes Back, The (1980)'], dtype=object),
 array(['Princess Bride, The (1987)'], dtype=object),
 array(['Brazil (1985)'], dtype=object),
 array(['Apocalypse Now (1979)'], dtype=object),
 array(['GoodFellas (1990)'], dtype=object),
 array(['Sting, The (1973)'], dtype=object),
 array(['Evil Dead II (1987)'], dtype=object),
 array(['Unforgiven (1992)'], dtype=object),
 array(['Field of Dreams (1989)'], dtype=object),
 array(['Breaking the Waves (1996)'], dtype=object),
 array(['Sense and Sensibility (1995)'], dtype=object),
 array(['Donnie Brasco (1997)'], dtype=object),
 array(['Pinocchio (1940)'], dtype=object),
 array(['Aladdin and the King of Thieves (1996)'], dtype=object),
 array(['Some Like It Hot (1959)'], dtype=object)]

In [37]:
movie_title_list=[]
for m in movie_title:
    print(m)
    mv=list(m)
    movie_title_list.append(mv)

['Babe (1995)']
['Seven (Se7en) (1995)']
['Santa Clause, The (1994)']
['Crow, The (1994)']
['Aladdin (1992)']
['Dances with Wolves (1990)']
['Snow White and the Seven Dwarfs (1937)']
['Striptease (1996)']
['Empire Strikes Back, The (1980)']
['Princess Bride, The (1987)']
['Brazil (1985)']
['Apocalypse Now (1979)']
['GoodFellas (1990)']
['Sting, The (1973)']
['Evil Dead II (1987)']
['Unforgiven (1992)']
['Field of Dreams (1989)']
['Breaking the Waves (1996)']
['Sense and Sensibility (1995)']
['Donnie Brasco (1997)']
['Pinocchio (1940)']
['Aladdin and the King of Thieves (1996)']
['Some Like It Hot (1959)']

In [38]:
#Converting into whole list

final_recomm_movies=list(itertools.chain.from_iterable(movie_title_list))
                         
final_recomm_movies

['Babe (1995)',
 'Seven (Se7en) (1995)',
 'Santa Clause, The (1994)',
 'Crow, The (1994)',
 'Aladdin (1992)',
 'Dances with Wolves (1990)',
 'Snow White and the Seven Dwarfs (1937)',
 'Striptease (1996)',
 'Empire Strikes Back, The (1980)',
 'Princess Bride, The (1987)',
 'Brazil (1985)',
 'Apocalypse Now (1979)',
 'GoodFellas (1990)',
 'Sting, The (1973)',
 'Evil Dead II (1987)',
 'Unforgiven (1992)',
 'Field of Dreams (1989)',
 'Breaking the Waves (1996)',
 'Sense and Sensibility (1995)',
 'Donnie Brasco (1997)',
 'Pinocchio (1940)',
 'Aladdin and the King of Thieves (1996)',
 'Some Like It Hot (1959)']

In [39]:
# Checking the common movie list
list(set(recom)&set(input_user_watched_movieid))

[]

In [40]:
def userbased(input_user,user_similarity,user_predictions,similar_user_count,thres):
    #Convert the user_sim table into DataFrame
    user_sim_table=pd.DataFrame(user_similarity)
    #Find similarity user for 78 using cosine table
    similar_input_user= user_sim_table[input_user].sort_values(ascending=True).head(similar_user_count).index
    #Convert in to list
    similar_user_input=list(similar_input_user) 
    #Using similar_user_input,can select movie id from ratings table
    similar_user_movieid_list=[]
    for sim_user in similar_user_input:
        sim=list(dataset[dataset['user_id']==sim_user]['movie_id'])
        similar_user_movieid_list.append(sim)
    #Converting as a whole list
    import itertools
    similar_user_movieid_single_list=list(itertools.chain.from_iterable(similar_user_movieid_list))
    #Unique movieid from the list
    Unique_movieid_similar_user=set(similar_user_movieid_single_list)
    #Input user watched movie_list
    input_user_watched_movieid=list(dataset[dataset['user_id']==input_user]['movie_id'].values)
    #Create a list which should have recom movieid to the input user
    recom=[]
    for per_id in Unique_movieid_similar_user:
        if(per_id in input_user_watched_movieid):
            pass
        else:
            recom.append(per_id)
    #From recommendation list selecting only hightest rated(predicted) value
    highest_Rated=[]
    user_pred=pd.DataFrame(user_prediction)
    user_pred_Trans=user_pred.T
    input_user_pre=pd.DataFrame(user_pred_Trans[input_user])
    input_user_pred=input_user_pre.T
    for re in recom:
        value=input_user_pred[re].values
        if(value>=thres):
            highest_Rated.append(re)
    i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
    items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,encoding='latin-1')
    #Creating Movie List based on recom movieid
    movie_title=[]
    for movieid in highest_Rated:
        mov=items[items['movie id']==movieid]['movie title'].values
        movie_title.append(mov)
    #Converting into pure list
    movie_title_list=[]
    for m in movie_title:
        print(m)
        mv=list(m)
        movie_title_list.append(mv)
    #Converting into whole list
    Final_Recommend_movie=list(itertools.chain.from_iterable(movie_title_list))
    print("The common Movie in Recom & User:",list(set(recom)&set(input_user_watched_movieid)))
    return Final_Recommend_movie

In [41]:
Recommended_movie=userbased(87, user_similarity, user_pred, 5, 1.5)

['Snow White and the Seven Dwarfs (1937)']
['Spitfire Grill, The (1996)']
['Delicatessen (1991)']
['Princess Bride, The (1987)']
['Secrets & Lies (1996)']
The common Movie in Recom & User: []